:root {
  /* Fonts */
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: rgb(48, 48, 48);
  --accent-txt-cl: rgb(255, 108, 0);
  --light-txt-cl: #ffffff;
  --dark-txt-cl: rgb(85, 85, 85);

  --grey-cl: rgb(157, 164, 189);
  --grey-cl-60: rgba(157, 164, 189, 0.6);

  /* BG colors */
  --dark-bg-cl: rgb(25, 28, 38);
  --accent-bg-cl: rgb(255, 108, 0);

  /* Others */
  --btn-radius: 25px;
  --indent: 30px;
  --items: 3;
  --heared-indx: 10;
  --animation-function: 300ms ease-out;
  --animation-function: 800ms ease;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

/*STYLES*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
li {
  list-style-type: none; /* Убираем маркеры */
}
a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
img {
  display: block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}

.uppertitle-theme-dark {
  color: var(--grey-cl-60);
}
.uppertitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.uppertitle::before {
  content: '';
  display: block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: var(--main-txt-cl);
}
.uppertitle-theme-dark::before {
  background-color: var(--grey-cl-60);
}
.undertitle {
  margin-bottom: 20px;
  color: var(--dark-txt-cl);
}

.undertitle-theme-dark {
  color: var(--grey-cl);
  color: ;
}

.title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.title-theme-dark {
  margin-bottom: 44px;

  color: var(--light-txt-cl);
}
/* CARD SET */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
}
/*STYLES-END*/
/*SECTIONS*/
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*CONTAINER*/

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*HEADER*/
.header {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--heared-indx);
}
.header.no-transparency {
  background-image: rgba(25, 28, 38, 0.6);
  backdrop-filter: blur(3px);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-container .logo {
  margin-right: 132px;
}
.header-logo {
  fill: #303030;
}
.header.no-transparency .header-logo {
  fill: #ffffff;
}
.header-nav {
  margin-right: auto;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-list .link,
.header-group .tel {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;

  color: var(--light-txt-cl);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-decoration: none;
}
.header-list .link:hover,
.header-list .link:focus,
.header-group .tel:hover,
.header-group .tel:focus {
  color: var(--accent-txt-cl);
}
.header-group {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 20px;
}

/*BUTTON*/
.btn {
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;
  border: 1px solid var(--accent-txt-cl);
  border-radius: 25px;

  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  transition: color var(--animation-function), background-color var(--animation-function);
}

.btn:hover,
.btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
}
.btn-theme-dark {
  color: var(--light-txt-cl);
}

/*HERO*/
.hero-undertitle {
  width: 360px;
}

.social-list {
  color: var(--main-txt-cl);

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
}
.social-link:hover,
.social-link:focus {
  color: var(--accent-txt-cl);
}
.slider-pagination {
  position: absolute;
  top: calc(50% - 15px);
  right: 20px;
}
.slider-pagination-item {
  width: 8px;
  height: 2px;
  margin-left: auto;
  background-color: var(--grey-cl);
}
.slider-pagination-item.active {
  width: 18px;
  background-color: rgb(255, 255, 255);
}
.slider-pagination-item:not(:last-child) {
  margin-bottom: 12px;
}
.slider-list {
  position: absolute;
  bottom: 40px;
  right: 20px;

  display: flex;
  align-items: center;
  gap: 24px;
}
.slider-btn {
  width: 60px;
  height: 24px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  padding: 0;

  letter-spacing: 0.1em;
  color: var(--light-txt-cl);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  cursor: pointer;
}
.slider-btn[disabled] {
  color: var(--grey-cl-60);
  border-color: var(--grey-cl-60);
}
.slider-btn.prev {
  text-align: left;
}
.slider-btn.next {
  text-align: right;
}
.hero .title {
  color: var(--light-txt-cl);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
.hero-container {
  display: flex;
}
.hero-left-side {
  display: flex;
  align-items: flex-end;
  width: 100px;
}
.hero-right-side {
  position: relative;

  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 208px;
  padding-left: 100px;

  background-color: rgba(25, 28, 38, 0.2);
  background-image: url(../images-barber/hero-bg.jpg);
  background-size: cover;
  background-position: center;
}
/*ABOUT*/
.about-container {
  display: flex;
}
.about-list {
  display: flex;
  margin-right: 30px;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-right-side {
  width: 470px;
}
.about-desc {
  margin-bottom: 42px;

  color: var(--dark-txt-cl);

  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
}

/*Services and prices*/
.price-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.price-list {
  padding: 30px 20px;
  flex-basis: 570px;
}
.price-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price {
  max-width: 1600px;
  margin: auto;
  background-color: var(--dark-bg-cl);
  background-image: url(../images-barber/price.png);
  background-repeat: no-repeat;
  background-position: center;
}

.price-item {
  display: flex;
  gap: 12px;
  align-items: baseline;

  color: var(--grey-cl);
}
.price-item:not(:last-child) {
  margin-bottom: 20px;
}
.price-item::before {
  content: '';
  display: block;
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}
.price-item-service {
  order: -1;
}
.price-btn {
  display: block;
  margin: 0 auto;
}
/* Benefits section */
.benefits-container {
  display: flex;
  gap: 30px;
}
.benefits-quantity {
  position: relative;
  display: inline-block;

  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}

.benefits-quantity::after {
  content: '+';

  position: absolute;
  top: 7px;
  right: -14px;

  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: #ff6c00;
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;

  color: #303030;
}

.benefits-right-side {
  width: 500px;
}
.benefits-left-side {
  width: 50%;
}
.benefits-list {
  display: flex;
  width: 370px;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: flex-start;
}
.benefits-item {
  width: 170px;
  min-height: 133px;
  background-color: #f7f7f7;
  text-align: center;

  padding: 20px 24px;
}
.benefits-item:nth-child(2n) {
  margin-top: 30px;
  margin-left: 30px;
}
/*TEAM*/
.team {
  background-color: #f7f7f7;
}
.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  margin-bottom: 44px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
.team-position {
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
.team-name {
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 1.55;
  text-align: center;
}
.team-position {
  color: var(--accent-txt-cl);

  font-size: 14px;
  line-height: 1.35;
  text-align: center;
}
/*GALLERY*/
.gallery-list {
  --items: 4;
}
.uppertitle-gallery {
  margin-bottom: 44px;
}
/*ONLINE BOOKING*/

.booking {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

/*CONTACTS*/
.contatcs-group {
  max-width: 1600px;
  margin: auto;
  background-image: url(../images-barber/contact-right.png);
  background-color: var(--dark-bg-cl);
  background-repeat: no-repeat;
  background-position: left calc(50% + 423px) top 50%;
}
.contacts,
.booking {
  width: 570px;
}
.contacts {
  padding-left: 100px;
}
.contacts-container {
  display: flex;
  justify-content: space-between;
}
.contacts-address {
  font-style: normal;
}

.contacts-link {
  color: var(--grey-cl);
}

.contacts-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--light-txt-cl);
}

.contacts-schedule {
  color: var(--grey-cl);
}
/*FOOTER*/
.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--grey-cl);
}
