
.booking {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
}

.booking__form {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
        @media screen and (max-width: 767px) {
        margin-left: 35px;
        margin-right: 35px;
    }
        @media screen and (min-width: 768px) {
        margin-left: 40px;
        margin-right: 40px;
    }
        @media screen and (min-width: 1200px) {
        margin-right: 0;
}
.booking__group,
.booking__message-label {
    position: relative;
    align-items: center;
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 30px;
    }
    @media screen and (min-width: 1200px) {
        gap: 0;
        margin-bottom: 44px;
}
}


.booking__wrapper {
    position: relative;
    @media screen and (min-width: 768px) {
        flex-basis: 330px;

    @media screen and (min-width: 1200px) {
        flex-basis: 270px; 
}
}
}
.booking__wrapper:not(:last-child) {
    @media screen and (min-width: 1200px) {
           margin-right: 30px;
}
}

.booking__field,
.booking__message {
    height: 24px;

    color: white;
    outline: unset;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    background-color: transparent;

    font-family: "Open Sans";
    font-weight: 600;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;

    transition: border-color var(--animation-function-slow);

}
.booking__field {
    margin-bottom: 44px;
    width: 100%;
}
.booking__message {
    width: 100%;
    @media screen and (min-width: 768px) {
           width: 690px;
        }

}

.booking__field::placeholder,
.booking__message::placeholder {
    opacity: 0;
    transition: opacity var(--animation-function);
}

.booking__field:focus::placeholder,
.booking__field:hover::placeholder,
.booking__message:focus::placeholder,
.booking__message:hover::placeholder {
    opacity: 1;
    transition-delay: 200ms;
}

.booking__field:focus,
.booking__field:hover,
.booking__message:focus,
.booking__message:hover,
.booking__field:not(:placeholder-shown) {
    border-color: var(--accent-txt-cl);
}

.booking__label {
    position: absolute;
    top: 0;
    left: 0;

    color: rgba(157, 164, 189, 0.4);

    text-transform: uppercase;
    font-weight: 600;
    font-weight: 400;
    font-size: 11px;
    line-height: calc(15 / 11);

    transform-origin: left;
    transition: transform var(--animation-function), color var(--animation-function);
}

.booking__field:focus+.booking__label,
.booking__field:hover+.booking__label,
.booking__message:focus+.booking__label,
.booking__message:hover+.booking__label,
.booking__field:not(:placeholder-shown)+.booking-label .booking__message:not(:placeholder-shown)+.booking-label {
    transform: translateY(-100%) scale(0.9);
    color: white;
}

.booking__field+.booking__label::after {
    content: "*";
    color: var(--accent-txt-cl);
}

.booking__message {
    height: 60px;
    resize: none;

    @media screen and (min-width: 1200px) {
        height: 76px;
        padding-top: 40px;
    }
}
.booking__label--message {
    top: -40px;
    right: 0;
    @media screen and (min-width: 768px) {
        top: 0;
    }
}
}

.booking__btn {
    display: block;
    margin: 0 auto;
    margin-top: 44px;
}